/*Variables*/

$Policesite: 'Roboto', sans-serif;
$Policestitre: 'Shrikhand', cursive;
$blanc : white;
$couleurprimaire : #9356DC;


/*Règles répétables*/

.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.symbole {
    padding-right: 20px
}

/*Loader*/

.loaderconfig {
    display: flex;
    position: fixed; 	
    background-color: #fffffff4;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: hideAnimation 0s linear 0.1s;
    animation-fill-mode: forwards;

    &__loader {
        width: 130px;
        height: 130px;
        display: inline-block;
        position: relative;
    }

    &__quart {
        border-radius: 100px;
        border: 6px solid transparent;
        border-top-color: #9256dc;
        animation:spin 2.5s ease-out infinite;
        ;
        
        &::after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            border-radius: 100px;
            border: 6px solid transparent;
            border-top-color: #ff79d9;
            animation:spin 2.5s ease-in infinite;
        }

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            bottom: 15px;
            right: 15px;
            border-radius: 100px;
            border: 6px solid transparent;
            border-top-color: #99e2d0;
            animation:spin 2.5s ease-out infinite;
        }
    }
}
@keyframes spin {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

/* Tete de page général commune à tous les sites */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
* {
    font-family: $Policesite;
    text-decoration: none;
    border-style: none;

  }

.titre {
    box-shadow: 0px 10px 10px 14x rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;

    &__texte {
        font-family: $Policestitre;
        width: 200px;
        margin: 0 50px;
        padding: 0;
    }

/*Sur les pages des menus*/
    &__fleche {
        color: black;
        font-size: 21px;
        margin-left: -10px;
    }
}


/*Sur la page principal*/

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.211);
    padding: 0px;

    &__texte {
        font-weight: 600;
    }
}

.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 70px 20px;
    background-color: rgba(128, 128, 128, 0.055);
    &__texte {
        text-align: center;
        margin: 5px auto;
        &--titre {
        margin: 0 20px;
        }
    }
    
    &__button {
        color: $blanc;
        background-color: $couleurprimaire;
        margin-top: 20px;
        padding: 18px 20px;
        border-radius: 30px;
        box-shadow: 0px 6px 10px 2px rgba(28, 28, 28, 0.229);

    }
}

/* Navigation de la page principal */
.fonctionnement {
    color: black;
    &__titre {
        padding-left: 15px;
    }

    &__liste {
        padding: 5px 30px;
        padding-left: 18px;
    }

    &__element {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 20px;                
        box-shadow: 0px 3px 15px 5px rgba(177, 165, 165, 0.256);
        width: 90%;
        max-width: 500px;
        margin: 25px 0px;
        background-color: rgba(128, 128, 128, 0.055);
        padding-left: 15px;
    }

    &__chiffre {
        display: flex;
        justify-content: center;
        color: white;
        background-color: blue;
        padding: 5px 5px;
        border-radius: 50%;
        font-size: 12px;
        height: 14px;
        width: 14px;
        margin-left: -25px;
    }

    &__texte {
        display: flex;
        align-items: center;
        padding: 5px 20px;
    }
}

/* Main du premier site */
.restaunav {
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.671);
    width: 100%;

    &__titre {
        padding-top: 20px;
        padding-left: 20px;
    }
 
    }
.restaucard {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 15px;
    width: 92%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
        
    &__image {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    &__paragraphe {
        display: flex;   
    }    
  
    &__texte {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 0px 10px;
        color: black;     
        
        &--gras {
            padding-top: 5px;
            margin: 5px;
        }

        &--normal {
            margin: 5px;
        }
    }
        
    &__coeurvide {
        display: inline-block;
        display: flex;
        padding: 20px 30px 5px 5px;
        color: black;
        font-size: 23px;
        font-weight: 100;
        position: relative;
        overflow: hidden;
        z-index: 1;
        opacity: 1;
        transition: transform 350ms ease-in-out;
        i {
            transition: color 250ms;
        }
        &:hover {
            transform: scale(1.15);
            color: blue;
            & .restaucard__coeurplein {
                opacity: 1;
            }
        } 
    }

    &__coeurplein {
        position: absolute;
        display: inline-block;
        color: blue;
        font-size: 23px;
        font-weight: 100;
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }

}
   
.piedpage {
    color: white;
    background-color: rgb(60, 55, 55);
    padding: 20px 0 2px 20px;
    margin: 0;
    padding-bottom: 20px;

    &__titre {
        font-family: $Policestitre;
        font-size: 20px;
    }

    &__nav {
        p {
            margin: 7px 0;
        }
    }
    &__symbtxt {
        display: flex;
        align-items: center;

        &--symbole {
            padding-right: 10px ;
            font-size: 12px;
        }

        p {
            margin: 5px 0;
        }
    }
}

/* Page des menus */

header {
    .imageresto {
        overflow: hidden;
        height: 270px;
        img {
            object-fit: cover;
            width: 110%;
        }
    }
}

.pagemenu {
    border-radius: 25px;
    .nomresto {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px;
        border-radius: 25px;
        h2 {
            font-family: $Policestitre
        }
    }
}
article {
    padding-left: 20px;
    .souligne {
        display: flex;
        flex-direction: column;
        h3 {
            margin: 0;
            font-weight: 100;
            font-size: 18px;
            text-transform: uppercase;
        }
        .trait {
            width: 60px;
            height: 3px;
            background-color: rgba(111, 117, 106, 0.308);
        }
    }
}
.command {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #9256dcce;
        margin: 20px auto 50px auto;
        padding: 0px 30px;
        border-radius: 30px;
        p {
            margin: 15px;
        }
}
.entrées, .plats, .desserts {
    align-items: center;
    justify-content: center;
}
.plat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;                
    box-shadow: 0px 3px 15px 5px rgba(177, 165, 165, 0.256);
    width: 90%;
    margin: 25px 0px;
    background-color: rgba(128, 128, 128, 0.055);
    padding-left: 15px;
        font-size: 15px;    
    }
    .platL {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        width: 80%;
        strong, p {
            margin: 3px 0;  
            overflow: hidden;            
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p{
            font-size: 15px;
        }
    }
    .prix {
        margin: 15px 15px 0 0;
    }
